<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abicetta.bookstoreinventory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InventoryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".InventoryActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InventoryActivity" />
        </activity>
        <activity
            android:name=".SupplierEditorActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".SuppliersListActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SuppliersListActivity" />
        </activity>
        <activity
            android:name=".SuppliersListActivity"
            android:screenOrientation="portrait"
            android:label="Suppliers list"
            android:parentActivityName=".InventoryActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InventoryActivity" />
        </activity>
        <activity android:name=".CheckDataActivity"
            android:screenOrientation="portrait"
            android:label="Check data"
            android:parentActivityName=".EditorActivity"
            android:theme="@style/AppTheme">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditorActivity" />
        </activity>

        <provider
            android:name=".data.BookProvider"
            android:authorities="com.abicetta.bookstoreinventory"
            android:exported="false" />

    </application>

</manifest>